*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 40px 4%;
    border-bottom: 1px solid white;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #fff;
    text-decoration: none;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

main{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-name{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 150px;
    background-image: url(/image/logo\ \(2\).png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.sobre{
    background-color: #2D82B7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.cards{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card{
    background-color: #fff;
    color: black;
}